## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
out/
artifacts/

# Configurations
appsettings.Development.json

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Rider
.idea/
*.sln.iml

# DotCover
*.dotCover

# NuGet
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/
packages/
.nuget/
*.nuget.props
*.nuget.targets

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.asm
*_p.asm
*.cachefile
*.dbmdl
*.bak
*.backup
*.BLOB
*.CoreCompileInputs.cache
*.dll
*.exe

# Others
*.db
*.opendb
*.ldf
*.mdf
*.ndf

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TFS
$tf/

# Dotnet watch
dotnet-watch.json

# Entity Framework
*.efml
migrations/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

